# System stuff
.DS_Store

# IDE stuff
*.iml
*.ipr
*.iws
*.eml
/.idea
.eclipse
.cache
/bin
/out
/eclipse

# Ignore Play! working directory
/conf/application.conf
/conf/swagger.yml
/data
/dist
/lib
/logs
/modules
/tmp
server.pid
